@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.container{
    display: flex;
    width: 100%;
    
}
.btn-normal{
    margin-top: 16px;
    border: none;
    background: #0b40b3;
    padding: 8px 10px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.form-control{
    background-color: #e5e7e9;  /* Theme color for buttons */
    color: rgb(0, 10, 43);
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 0.5px black solid;
    transition: background-color 0.3s ease;  /* Smooth transition for button hover */
}
.course_form h2{
    margin-top: 24px;
}
.course_formulaire label{
    font-weight: 600;
    
}
.course_formulaire input{
    width: 250px;
}
.course_formulaire input.no-width {
    width: auto; 
}
.course_formulaire input#no-width {
    width: 100px; 
}
.course_formulaire p{
    font-size: 14px;
    font-weight: 500;
}
.sidebar{
    height: auto;
}
