@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.conatiner{
    width: 100%;
    display: flex;
    align-content: center;
}
.hero-section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-form {
    margin-top: 50px;
    width: 400px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-logo {
    width: 150px;
    margin: 16px;
    display: block;
    margin: 0 auto 20px; /* Centers the logo and adds spacing */
}

.login-formulaire  {
    display: flex;
    flex-direction: column;
}

.login-formulaire input[type="text"],
.login-formulaire input[type="password"],
.login-formulaire input[type="submit"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.login-formulaire  input[type="submit"] {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border: none; /* Removes border */
    transition: all 0.3s ease 0s;
}

.login-formulaire input[type="submit"]:hover {
    background-color: #0056b3;
    transition: all 0.3s ease 0s;
}

.login-formulaire a {
    color: #007BFF;
    text-align: center;
    display: block;
}