@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;

}
body{
    width: 100%;
    box-sizing: border-box;
}
.container{
    width: 100%;
}
.section1{
    width: 100%;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-wrap: wrap;
}
.section1-text{
    padding-top: 40px;
    width: 50%;
}
.section1-picture{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.section1-picture img{
    width: 700px;
    height: 700px;
}
.section1-big-title{
    font-size: 67.34px;
    color: #150d86;
}
.section1-sub-title{
    font-size: 21.33px;
    font-weight: 400;
    padding-top: 24px;
}
.style-green{
    color: #00c48c;
}
.section1-buttons{
    display: flex;
    padding-top: 48px;

}
.section1-join-button a{
    color: #f2f2f2;
}
.section1-join-button{
    cursor: pointer;
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border-radius: 30px;
    background-color: #00c48c;
    padding: 15px 40px;
    margin-right: 16px;
}

.section1-how-button a{
    color: #f2f2f2;
}
.section1-how-button{
    color: #f2f2f2;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border-radius: 30px;
    background-color: #150d86;
    padding: 15px 40px;
    margin-right: 16px;
}



.section2{
  margin-top: 60px;
  background-color: #00c48c;
}
.section2-big-title{
    width: 100%;
    text-align: center;
    padding: 62px;
    font-size: 50.52px;
    color: #150d86;
}

.main {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.profile-card {
    position: relative;
    font-family: "Montserrat", sans-serif;
    width: 220px;
    height: 220px;
    background: #fff;
    padding: 30px;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: 0.6s;
    margin: 0 50px;
    cursor: pointer;
  }
  .profile-card:hover {
    border-radius: 10px;
    height: 260px;
  }
  .profile-card .img {
    position: relative;
    width: 100%;
    height: 100%;
    transition: 0.6s;
    z-index: 99;
  }
  .profile-card:hover .img {
    transform: translateY(-60px);
  }
  .img img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: 0.6s;
  }
  .profile-card:hover img {
    border-radius: 10px;
  }
  .caption {
    text-align: center;
    transform: translateY(-80px);
    opacity: 0;
    transition: 0.6s;
  }
  .profile-card:hover .caption {
    opacity: 1;
  }
  .caption h3 {
    font-size: 21px;
    font-family: "Montserrat", sans-serif;
  }
  .caption p {
    font-size: 15px;
    color: #0c52a1;
    font-family: "Montserrat", sans-serif;
    margin: 2px 0 9px 0;
  }
  .caption .social-links a {
    color: #2a3282;
    margin-right: 15px;
    font-size: 21px;
    transition: 0.6s;
  }
  .social-links a:hover {
    color: #0c52a1;
  }

  .section3{

    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #2a3282;
  }
.contents{
    display: flex;

}
.statistic{
    color: #f2f2f2;
    padding: 80px;
    font-size: 28.43px;
    font-weight: 500;
}

.statistic-number{
    font-weight: 700;
    padding-bottom: 8px;
}
.section4{
    width: 100%;
}
.trusted-title{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 48px;
    font-size: 50.52px;
    
    color: #00c48c;
}
.container-by{
    width: 100%;
}
.trusted-by {
    padding: 10px 0;
    text-align: center;
}  
  
.logos {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.logos img {
    width: 250px;
    margin: 0 80px;
}




.newsletter {
    background: #ffffff00;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    font-family: "Montserrat", sans-serif;
  }
  
  .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(11, 189, 124);
    width: 100%;
    height: 454px;
  }
  
  .subscribe__title {
    margin-bottom: 8px;
    font-size:  50.52px;
    color: #2a3282;
    font-weight: bold;
  }
  .subscribe__subtitle{
    font-size:  28.43px;
    margin-bottom: 24px;
    color: #19227f;
    font-weight: 700;
  }
  .subscribe__copy {
    color: #ffffff;
    font-size: 21.33px;
    font-weight: 500;
    max-width: 1000px;
    text-align: center;
  }
  

  
  .form__email {
    padding: 21px 25px;
    border-radius: 20px 0px 0px 20px;
    border: 1px solid #cad3db;
    width: 431px;
    font-size: 18px;
    color: #0f121f;
  }
  
  .form__email:focus {
    outline: 1px solid #2a3282;
  }
  
  .form__button {
    margin-left: -5px;
    background: #2a3282;
    padding: 8px;
    border: none;
    width: 244px;
    height: 65px;
    border-radius: 0px 20px 20px 0px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .form__button:hover {
    background: #2933a1;
  }





  .section1-cards {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .section1-card {
    width: auto;
    display: flex;
    justify-content: space-between; 
    gap:  16px;
    flex-direction: row;
  }
  .section1-cards-logo{
    width: 80px;
    height: 80px;
  }
  .section1-content {
    width: 210px;
    height: 210px;
    padding: 10px;
    margin-top: 24px;
    background-color: #ffffff;
    border: 2px solid #2a3282; 
    border-radius: 8px;
    display: flex;
    transition: 0.3s ease-in-out;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .section1-content img{
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .section1-content:hover{
    border-color: #2a3282; 
    background-color: #2a3282; 
    transition: 0.3s ease-in-out;
  
  }
  
  .section1-content:hover i,
  .section1-content:hover h2,
  .section1-content:hover p {
    color: white; 
    transition: 0.3s ease-in-out;
  
  }
  
  .section1-content i {
    font-size: 20px; 
    margin-bottom: 8px; 
  }
  
  .section1-content h2 {
    font-size: 16px; 
    margin-bottom: 8px;
  }
  
  .section1-content p {
    font-size: 14px;
    padding-bottom: 8px; 

  }